header{
    display:flex;
    justify-content: center;
  }
  .buscador{
      position: relative;
      width: 280px;
      margin-top:30px;
    }
    .input{
      border: none;
      border-bottom: 1px solid black;
      /* box-shadow: 0 0 15px 4px rgba(0,0,0,0.6); */
      /* border-radius: 15px; */
      padding: 15px 5px 3px 5px;
      width: 100%;
      outline: none;
      text-transform: lowercase;
    }
    .iconoLupa {
      color:gray;
      position:absolute;
      width: 15px;
      height: 15px;
      left: 270px;
      top: 50%;
      transform: translateY(-50%);
    }
    .iconoLupa:hover{
      scale:1.3;
  
    }